{erl_opts, [debug_info]}.
{deps, [
    {jsone, {git, "https://github.com/sile/jsone.git", {tag, "1.5.6"}}},
    {epgsql, {git, "https://github.com/epgsql/epgsql.git", {tag, "4.5.0"}}},
    {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.8.0"}}}
]}.

{
    relx,
    [
        {release, {wbws, "0.1.0"}, [wbws, sasl]},
        {mode, dev},
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"}
    ]
}.

{profiles, [
    {prod, [
        {relx, [
            {mode, prod}
        ]}
    ]}
]}.
